.card {
  flex: 30%;
  padding-bottom: 2rem;
}

.movieTitle {
  margin: 0;
  padding-top: 1rem;
}

.movieSubTitle {
  margin-bottom: 0;
  margin-top: .5rem;
}

.moviePoster {
  max-width: 300px;
  box-shadow: 4px 4px 6px #666;
}
